@model Models.Poliza

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro(a) de que quieres eliminar esto?</h3>
<div>
    <h4>Poliza</h4>
    <hr />
    <form asp-action="DeleteConfirmado">
        <input type="hidden" asp-for="NumeroPoliza" />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NumeroPoliza)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NumeroPoliza)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NombreCliente)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NombreCliente)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdCliente)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdCliente)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaNacimiento)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechaPoliza)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaPoliza)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Coberturas)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Coberturas)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ValorMaximo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ValorMaximo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NombrePoliza)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NombrePoliza)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CiudadResidencia)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CiudadResidencia)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DireccionResidencia)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DireccionResidencia)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PlacaAutomotor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PlacaAutomotor)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ModeloAutomotor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ModeloAutomotor)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Inspeccion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Inspeccion)
            </dd>
        </dl>
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index">Regresar</a>
    </form>
</div>